@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat:wght@400..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

button {
    background-color: #B2734D;
    border-radius: 10px;
    margin: 30px 30px;
    font-size: 1.7em;
    font-family: "Caveat";
}
input {
    font-size: 1.25em;
}
form {
    font-size: 1.25em;
}
.logo {
    height: 100px;
    width: 100px;
}
nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #F8EECD;
}
nav a {
    padding: 15px;
    text-align: center;
    color: black;
    text-decoration: none;
}
body {
    background-color: #9FBE9D;
    margin: 0 auto;
}
footer {
    font-family: "Annie Use Your Telescope";
    display: grid;
    grid-template-columns: repeat(3, 0.25fr) 1fr;
    grid-template-rows: 2fr;
    background-color: #F8EECD;
}
footer a img {
    width: 80px;
    height: 80px;
}
.footer_info {
    color: #504537;
    text-decoration: none;
    font-size: 1.25em;
    grid-column: 4/5;
    grid-row: 2/3;
}
.copyright {
    font-size: 1.5em;
}
footer a {
    text-decoration: none;
}
footer .logo {
    padding: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
}
footer p {
    font-family: "Patrick Hand";
    color: #504537;
    grid-column: 2/4;
}
.facebook_logo {
    padding: 5px;
    grid-column: 3/4;
    grid-row: 2/3;
}
.twitter_logo {
    padding: 5px;
    grid-column: 2/3;
    grid-row: 2/3;
}
.instagram_logo {
    padding: 5px;
    grid-column: 3/4;
    grid-row: 2/3;
}
.search_button {
    grid-column: 4/5;
    grid-row: 1/2;
}