body {
    background-color: #FFECD7;
}
#card {
    background-color: #008DB1;
    border-radius: 20px;
    border: 5px solid #004e63;
    padding: 50px;
    width: 400px;
    margin: 0 auto;
}
img {
    width: 200px;
    display: block;
    margin: 0 auto;
    border: 5px solid white;
}
h1 {
    color: #fffffe;
    font-family: Helvetica;
    text-align: center;
}
h2 {
    color: #91E4FB;
    font-family: Helvetica;
}
ul {
    color: #fffffe;
    font-family: Helvetica;
}
p {
    color: #ffd783;
    font-family: "Brush Script MT", "Nanum Brush Script";
    text-align: center;
}
.website {
    color: #91E4FB;
    font-family: Helvetica;
    text-decoration: none;
}