* {
    margin: 0;
}
body {
    background: rgb(120, 96, 64);
}
#formContainer {
    border-radius: 20px;
    border: 8px, solid, rgb(40, 40, 167);
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 2.5fr 2.5fr repeat(3, 6fr);
    height: 750px;
    width: 500px;
    justify-self: center;
    position: relative;
}
#myForm {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1fr;
    height: 100%;
    width: 100%;
    grid-row: 4/7;
    position: absolute;
    background-color: white;
}
section {
    grid-column: 1/3;
    justify-self: center;
}
#myForm button {
    margin: 5px;
}
label {
    grid-column: 1/2;
    margin: 10px;
}
input {
    width: 200px;
    margin: 5px;
}
#scriptures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6.5px;
}
#scriptures img {
    width: 95px;
    height: 130px;
}
.photoJesus {
    z-index: 0;
    grid-row: 1/5;
    border-radius: 10px;
    width: 500px;
    height: 330px;
}
h1, h2 {
    color: white;
    z-index: 1;
    text-shadow: 4px .5px black;
}
h1 {
    font-size: 3em;
    justify-self: center;
    grid-row: 2/3;
    position: absolute;
}
h2 {
    font-size: 2.3em;
    justify-self: center;
    grid-row: 3/4;
    position: absolute;
}
h3 {
    grid-column: 1/3;
    text-align: center;
}
#closeBtn {
    margin: 10px;
    grid-row: 1/2;
    position: absolute;
}
.genders {
    display: grid;
    grid-template-columns: minmax(0, 0.1fr) 1fr;
}
.male {
    grid-row: 1/2;
    grid-column: 1/2;
}
.female {
    grid-row: 2/3;
    grid-column: 1/2;
}
.male_label {
    grid-row: 1/2;
    grid-column: 2/3;
}
.female_label {
    grid-row: 2/3;
    grid-column: 2/3;
}
.genders input {
    width: 15px;
}
