@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* remove borders around text */
:root {
    --primary-color: #2C2F5B;
    --secondary-color: #F5F0E8;
    --accent1-color: #C0392B;
    --accent2-color: #6B7C5C;
}
#desitnation .child_element h1 {
    font-size: 2em;
    width: 70%;
    margin-top: -10%;
    color: #F5F0E8;
    text-shadow: 3px 2px 1px #C0392B;
}
#desitnation .child_element p {
    font-size: 1.7em;
    color: #F5F0E8;
    margin-top: -5%;
    text-shadow: 3px 2px 1px #2C2F5B;
}
#desitnation .background_photo {
    height: 2000px;
}
#food .child_element h1 {
    margin-top: -5%;
    font-size: 2.5em;
    width: 45%;
    text-shadow: 3px 2px 1px #2C2F5B;
}
#food .child_element p {
    font-size: 1.7em;
    color: #F5F0E8;
    margin-top: -5%;
    text-shadow: 3px 2px 1px #2C2F5B;
}
.shopping_street, .indoor_market {
    box-shadow: 5px 5px 5px #2C2F5B;
}
.mossy_path {
    box-shadow: 5px 5px 5px #6B7C5C;
}
.ramen, .takoyaki, .tofu {
    box-shadow: 5px 5px 5px #2C2F5B;
}
body {
    margin: 0 auto;
    background-color: #F5F0E8;
}
header {
    background-color: #F5F0E8;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 20px;
}
.logo {
    height: 100px;
    width: 100px;
}
header nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
a {
    color: #2C2F5B;
    text-decoration: none;
    font-family: "Noto Serif JP";
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif JP";
}
p {
    font-family: "Lato";
}
.background_photo {
    z-index: 0;
    width: 100%;
    max-height: 450px;
    grid-row: 1/4;
    grid-column: 1/2;
}
h1 {
    color: #F5F0E8;
    text-shadow: 3px 2px 1px #2C2F5B;
    text-align: center;
    z-index: 1;
    grid-row: 1/2;
    grid-column: 1/2;
}
.photo_text {
    grid-row: 2/3;
    text-align: center;
    z-index: 1;
    grid-column: 1/2;
}
.photo_button {
    background-color: #2C2F5B;
    color: #F5F0E8;
    border-radius: 5px;
    border-color: #2C2F5B;
    padding: 15px;
    z-index: 1;
    font-family: "Lato";
    grid-row: 3/4;
    grid-column: 1/2;
}
.grid_element {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image_description {
    padding: 20px;
}
.grid_element h2 {
    font-size: 2em;
    color: #2C2F5B;
    padding: 30px;
    text-align: center;
    grid-column: 1/3;
}
.grid_element p {
    font-size: 1.5em;
    color: #2C2F5B;
}
.grid_element img {
    width: 550px;
}
#home h2 {
    font-size: 2em;
    grid-column: 1/3;
    text-align: center;
    padding: 50px;
    color: #2C2F5B;
}
#home h3 {
    font-size: 2em;
    grid-column: 1/3;
    text-align: center;
    margin: 50px;
    color: #2C2F5B;
}
#home h5 {
    color: #F5F0E8;
    text-align: center;
    padding: 50px;
}
#home {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#home p, h4 {
    color: #2C2F5B;
}
.side_street {
    margin: 50px;
    width: 500px;
    height: 300px;
}
.side_street_text {
    font-size: 1.5em;
    padding: 50px;
}
.choose_us {
    font-size: 1.2em;
    gap: 80px;
    margin: 50px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}
.choose_us img {
    width: 100%
}
.start_exploring {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#home .start_exploring p {
    color: #F5F0E8;
    margin-top: -10%;
    font-size: 1.3em;
}
.choose_us img {
    box-shadow: 5px 5px 5px #6B7C5C;
}
.side_street {
box-shadow: 5px 5px 5px #2C2F5B;
width: 550px;
}
.child_element {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.child_element h1 {
    margin: 15px;
    grid-row: 2/3;
}
.child_element p {
    grid-row: 3/4;
}
.browse {
    border-radius: 5px;
    border-color: #6B7C5C;
    align-self: center;
    width: 300px;
    height: 50px;
    color: #2C2F5B;
    font-size: .75em;
}
.last_section {
    background-color: #6B7C5C;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3em;
}
.desitnation, .food {
    border-top: 5px solid #2C2F5B;
}
footer {
    background-color: #F5F0E8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}
footer img {
    height: 50px;
    width: 50px;
}
footer .logo {
    grid-row: 1/3;
}
footer nav {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    align-items: center;
}
footer pre {
    text-align: right;
    white-space: pre-wrap;
    font-family: "Lato";
    grid-row: 2/3;
    grid-column: 2/4;
    color: #2C2F5B;
}