@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat:wght@400..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* Followed W3Schools Slideshow Tutorial Start*/
* {box-sizing: border-box;}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0,0.8);
}

.slide_text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slide_number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
/* Followed W3Schools Slideshow Tutorial End*/
body {
    background-color: #9FBE9D;
    margin: 0 auto;
}
nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #F8EECD;
}
nav a {
    padding: 15px;
    text-align: center;
    color: black;
    text-decoration: none;
}
.logo {
    height: 100px;
    width: 100px;
}
img {
    width: 50%;
}
h1 {
    font-family: "Caveat";
    font-size: 4em;
}
h2 {
    font-size: 2em;
    font-family: "Annie Use Your Telescope";
}
p {
    font-family: "Patrick Hand";
}
footer {
    font-family: "Annie Use Your Telescope";
    display: grid;
    grid-template-columns: repeat(3, 0.25fr) 1fr;
    grid-template-rows: 2fr;
    background-color: #F8EECD;
}
footer a img {
    width: 80px;
    height: 80px;
}
.facebook_logo {
    padding: 5px;
    grid-column: 1/2;
    grid-row: 2/3;
}
.twitter_logo {
    padding: 5px;
    grid-column: 2/3;
    grid-row: 2/3;
}
.instagram_logo {
    padding: 5px;
    grid-column: 3/4;
    grid-row: 2/3;
}
.search_button {
    grid-column: 4/5;
    grid-row: 1/2;
}
.footer_info {
    color: #504537;
    text-decoration: none;
    font-size: 1.25em;
    grid-column: 4/5;
    grid-row: 2/3;
}
.copyright {
    font-size: 1.5em;
}
footer a {
    text-decoration: none;
}
footer .logo {
    padding: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
}
footer p {
    font-family: "Patrick Hand";
    color: #504537;
    grid-column: 2/4;
}
.body_content {
    background-color: #9FBE9D;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
}
.table_info {
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/2;
}
.temple_photo {
    filter: drop-shadow(8px 8px 2px #596433);
    padding: 30px;
    width: 800px;
    height: 600px;
    grid-column: 3/4;
    grid-row: 1/2;
}
.and_gate_photo {
    filter: drop-shadow(8px 8px 2px #596433);
    padding: 30px;
    width: 350px;
    height: 500px;
    grid-column: 1/2;
    grid-row: 3/4;
}
.or_gate_photo {
    filter: drop-shadow(8px 8px 2px #596433);
    padding: 30px;
    width: 350px;
    height: 500px;
    grid-column: 1/2;
    grid-row: 4/5;
}
.temple_photo_text {
    place-items: center;
    font-family: "Annie Use Your Telescope";
    color: #504537;
    font-size: 1.5em;
    padding: 10px;
    grid-column: 3/4;
    grid-row: 2/4;
}
.temple_photo_text p {
    padding: 50px;
    font-family: "Patrick Hand";
    color: #504537;
}
.and_gate_text {
    font-size: 1.25em;
    grid-column: 2/3;
    grid-row: 3/4;
    font-family: "Patrick Hand";
    color: #504537;
}
.or_gate_text {
    font-size: 1.25em;
    grid-column: 2/3;
    grid-row: 4/5;
    color: #504537;
    font-family: "Patrick Hand";
}
table, td {
  justify-self: center;
  padding: 40px;
  border: 2px solid #596433;
}
th {
    color: #504537;
    font-size: 1.5em;
    border: 2px solid #596433;
}
table {
    background-color: #E2F7DE;
    margin: 30px auto;
    width: 90%;
    max-width: 900px;
    padding: 40px;
    box-shadow: 5px 5px 2px #596433;
    min-height: 400px;
}
h2 {
    text-align: center;
    color: #504537;
}
button {
    background-color: #B2734D;
    border-radius: 10px;
    margin: 30px 30px;
    font-size: 1.7em;
    font-family: "Caveat";
}
input {
    font-size: 1.25em;
}
form {
    font-size: 1.25em;
}
