@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat:wght@400..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

img {
    width: 50%;
}
h1 {
    font-family: "Caveat";
    font-size: 4em;
}
h2 {
    font-family: "Annie Use Your Telescope";
}
p {
    font-family: "Patrick Hand";
}