@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat:wght@400..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* Followed W3Schools Slideshow Tutorial Start*/
* {box-sizing: border-box;}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0,0.8);
}

.slide_text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slide_number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
/* Followed W3Schools Slideshow Tutorial End*/

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #F8EECD;
}
nav a {
    background-color: #B2734D;
    padding: 15px;
    text-align: center;
    color: black;
    text-decoration: none;
}
.logo {
    height: 100px;
    width: 100px;
}
img {
    width: 50%;
}
h1 {
    font-family: "Caveat";
    font-size: 4em;
}
h2 {
    font-family: "Annie Use Your Telescope";
}
p {
    font-family: "Patrick Hand";
}
footer {
    display: grid;
}
footer a img {
    width: 80px;
    height: 80px;
}